name: WakaTime ReadMe Updater

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-readme:
    name: WakaReadme DevMetrics
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SECTION_NAME: Dev_Metrics
          # Time range
          TIME_RANGE: all_time
          # Theme
          CODE_LANG: rust
          # Show Options
          SHOW_TITLE: true
          SHOW_TIME: true
          SHOW_TOTAL: true
          
          # Format
          format: "{emoji} {language:10} {bar:10|▰|▱} {percent:2}"

          # Commits
          COMMIT_MESSAGE: Updated Dev Metrics
          COMMITTER_NAME: GitHubActionBot
          COMMITTER_EMAIL: action-bot@github.com
          AUTHOR_NAME: Thamidu-Nadun
          AUTHOR_EMAIL: nadunrz101@gmail.com
